<section ng-controller="MusicCtrl">
	<section class="panel center">


		<div ng-init="showAAlbums()"></div>
		<button class="md-button md-default-theme" ng-transclude="" ng-click="playSong(asongs[0].file)" tabindex="0">PLAY TEST</button>
		<md-content layout="row" flex layout-align="center" layout-fill>
			<div flex="100" class="content" ui-view>
				<md-item ng-repeat="aalbum in aalbums | filter:global.search" class="item" ng-class="{'selected-item' : $index == selectedAAlbum}">
					<md-item-content class="tile md-whiteframe-z2" ng-class="{'selected md-whiteframe-z2' : $index == selectedAAlbum}" layout="column">
						<div layout="row" layout-fill ng-click="selectAAlbum($index)" class="folded">
							<div class="md-tile-left" ng-show="$index == selectedAAlbum" height="150">
								<div class="thumbnail-wrapper-aalbum">						
									<img class="thumbnail" ng-src={{getThumbnail(aalbum.thumbnail)}} height="150">
									<!--<a href="#remote"><div class="play">&#9658;</div><div class="overlay"></div></a>-->
								</div>
							</div>

							<div class="md-tile-content" layout="column" layout-align="start">
								<h3 class="aalbum-label">{{aalbum.label}}</h3>
								<h4>
									{{aalbum.year}} - Artist : {{aalbum.artist.toString()}} -
									<span ng-repeat="genre in aalbum.genre">
										{{genre}}{{$last ? '' : ', '}} 
									</span>
								</h4>
								<md-divider layout-fill ng-show="$index == selectedAAlbum"></md-divider>
								<div layout="column" layout-fill class="expanded" ng-show="$index == selectedAAlbum">
									<p><b>Tracks :</b></p><br>
									<h4 ng-repeat="asong in asongs | filter:{albumid:aalbum.albumid}">
										<md-button ng-click="playSong(asong.file)">{{asong.track}} - {{toMinutes(asong.duration)}} - {{asong.label}}</md-button>
									</h4>
								</div>
							</div>
						</div>
					</md-item-content>
				</md-item>
			</div>
		</md-content>

	</section>
</section>