<ion-view view-title="A propos">
    <ion-content class="padding">
        <div class="about-icon-wrapper">
            <div class="app-name">Komote</div>

            <img src="img/icon.png" class="komote-icon">

            <div class="about-who">
                <span class="projet-mention">Projet S8 2015</span>
                <p class="license-mention">Application développée par le groupe 8 - T2 - sous licence GNU LGPL 3.0</p>
                <i class="icon ion-location icon-location"></i>ENSEIRB-MATMECA, Bordeaux
            </div>

        </div>

    </ion-content>
</ion-view>
