<ion-tabs class="tabs-icon-top tabs-positive">

    <!-- Remote Tab -->
    <ion-tab title="Télécommande" icon-off="ion-arrow-move" icon-on="ion-arrow-move" href="#/tab/remote">
        <ion-nav-view name="remote-tab"></ion-nav-view>
    </ion-tab>

    <!-- Movies Tab -->
    <ion-tab title="Films" icon-off="ion-film-marker" icon-on="ion-film-marker" href="#/tab/movies">
        <ion-nav-view name="movies-tab"></ion-nav-view>
    </ion-tab>

    <!-- TvShows Tab -->
    <ion-tab title="Séries TV" icon-off="ion-monitor" icon-on="ion-monitor" href="#/tab/tvshows">
        <ion-nav-view name="tvshows-tab"></ion-nav-view>
    </ion-tab>

    <!-- Music Tab -->
    <ion-tab title="Musique" icon-off="ion-music-note" icon-on="ion-music-note" href="#/tab/music">
        <ion-nav-view name="music-tab"></ion-nav-view>
    </ion-tab>

     <!-- Photos Tab -->
    <ion-tab title="Photos" icon-off="ion-image" icon-on="ion-image">
        <ion-nav-view name="about-tab"></ion-nav-view>
    </ion-tab>

</ion-tabs>
