<!DOCTYPE html>

<html ng-app="app"> 
	<head>
		<title>Kodi Remote</title>

		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

        <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css" />
	</head>

	<body>

		<!-- Header -->
		<div class="toolbar">
			<md-toolbar>
				<h1 class="md-toolbar-tools">
					<span>Kodi Remote</span>
					<div class="toolbar-icons" ng-controller="AboutCtrl">
						<md-button class="md-primary search">
							<a href="#search" class="search"><img class="icon-search" src="img/ic_search_24px.svg" /img></a>
						</md-button>

						<md-button class="md-primary about" ng-click="showAbout($event)">
							<img class="icon-about" src="img/ic_more_vert_24px.svg" width="24" /img>
						</md-button>
					</div>
				</h1>

				<md-tabs md-stretch-tabs>
					<md-tab id="remote-tab" aria-controls="remote-content">
						<a href="#remote" class="nav-remote" ng-click="menu='remote'" ng-class="{active: menu=='remote'}"><img class="icon-remote" src="img/ic_gamepad_black_48dp.png"/img></a>
					</md-tab>
					<md-tab id="movies-tab" aria-controls="movies-content">
						<a href="#movies" class="nav-movies" ng-click="menu='movies'" ng-class="{active: menu=='movies'}"><img class="icon-movies" src="img/ic_video_collection_black_48dp.png"/img></a>
					</md-tab>
					<md-tab id="music-tab" aria-controls="music-content">
						<a href="#music" class="nav-music" ng-click="menu='music'" ng-class="{active: menu=='music'}"><img class="icon-music" src="img/ic_my_library_music_black_48dp.png"/img></a>
					</md-tab>
					<md-tab id="pics-tab" aria-controls="pics-content">
						<a href="#pics" class="nav-pics" ng-click="menu='pics'" ng-class="{active: menu=='pics'}"><img class="icon-pics" src="img/ic_photo_library_black_48dp.png"/img></a>
					</md-tab>
					<md-tab id="settings-tab" aria-controls="settings-content">
						<a href="#settings" class="nav-settings" ng-click="menu='settings'" ng-class="{active: menu=='settings'}"><img class="icon-settings" src="img/ic_settings_black_48dp.png"/img></a>
					</md-tab>
				</md-tabs>
			</md-toolbar>
		</div>

		<!-- Vues (Remote, films, musique, photos, réglages) -->
		<section class="view" ng-view></section>
		
		<script src="js/framework/hammerjs/hammer.min.js"></script>
		<script src="js/framework/angular/angular.min.js"></script>
		<script src="js/framework/angular-route/angular-route.min.js"></script>
		<script src="js/framework/angular-aria/angular-aria.min.js"></script>
		<script src="js/framework/angular-animate/angular-animate.min.js"></script>
		<script src="js/framework/angular-resource/angular-resource.min.js"></script>
		<script src="js/framework/angular-material/angular-material.min.js"></script>
		<script src="js/framework/jquery/jquery.js"></script>

		<script src="js/app.js"></script>
		<script src="js/controllers.js"></script>
		<!--<script type="application/javascript" src="js/connect.js"></script>-->
		<!--<script type="application/javascript" src="js/request.js"></script>-->
	</body>
</html>