<section ng-controller="MusicCtrl">
	<section class="panel left">

		<div ng-init="showArtists()"></div>
		<md-content layout="row" flex layout-align="center" layout-fill>
			<div flex="100" class="content" ui-view>
				<md-item ng-repeat="artist in artists | filter: global.search" class="item">
					<md-item-content class="music tile md-whiteframe-z1" layout="column">
						<div layout="row" layout-fill class="folded">
							<div class="md-tile-left" height="150">
								<div class="thumbnail-wrapper-artist">	
									<img class="thumbnail" ng-src={{getThumbnailArtist(artist.thumbnail)}} height="150">
								</div>
							</div>

							<div class="md-tile-content" layout="column" layout-align="start">
								<h3 class="artist-label">{{artist.label}}</h3>
								<h4>
									<span ng-repeat="genre in artist.genre">
										{{genre}}{{$last ? '' : ', '}}
									</span>
								</h4>
								<md-divider layout-fill></md-divider>
								
								<a href="#music-albums/{{artist.label}}">
									<md-button md-no-ink class="md-primary">Tous les albums de {{artist.label}}</md-button>
								</a>
							</div>
						</div>
					</md-item-content>
				</md-item>
			</div>
		</md-content>
	</section>
</section>