<section ng-controller="SeriesCtrl">
	<section class="panel panelseries-season">
		<div ng-init="showSeasons(series_id); showEpisodes(series_id)">
			<md-content layout="row" flex layout-align="center" layout-fill>
				<div flex="100" class="content" ui-view>
					<md-item ng-repeat="season in seasons | filter : {tvshow:tvshow_id} | filter : global.search" class="item" ng-class="{'selected-item' : $index == selectedSeries}">
						<md-item-content class="series tile md-whiteframe-z1" ng-class="{'selected md-whiteframe-z2' : $index == selectedSeries}" layout="column">
							<div layout="row" layout-fill ng-click="selectSeries($index)">
								<div class="md-tile-left" ng-show="$index == selectedSeries" height="150">
									<div class="thumbnail-wrapper">
										<img class="thumbnail" ng-src={{getThumbnailSeason(season.thumbnail)}} height="150">
									</div>
								</div>

								<div class="md-tile-content" layout="column" layout-align="start">
									<h3 class="season-label">{{season.label}}</h3>
									<h4>{{season.showtitle}} - {{season.episode}} épisodes</h4>

									<md-divider layout-fill ng-show="$index == selectedSeries"></md-divider>
									<div layout="column" layout-fill class="expanded" ng-show="$index == selectedSeries">
										<h4 ng-repeat="episode in episodes | filter : {season:season.season}">
											<md-button ng-click="playEpisode(episode.file); $event.stopPropagation();">
												<b>{{episode.title}}</b>
											</md-button>
										</h4>
									</div>
								</div>
							</div>
						</md-item-content>
					</md-item>
				</div>
			</md-content>
		</div>
	</section>
</section>