<section ng-controller="SeriesCtrl">
	<section class="panel panelseries">

		<div ng-init="showSeries()"></div>
		<md-content layout="row" flex layout-align="center" layout-fill>
			<div flex="100" class="content" ui-view>
				<md-item ng-repeat="tvshow in tvshows | filter: global.search" class="item" ng-class="{'selected-item' : $index == selectedSeries}">
					<md-item-content class="series tile md-whiteframe-z1" ng-class="{'selected md-whiteframe-z2' : $index == selectedSeries}" layout="column">
						<div layout="row" layout-fill ng-click="selectSeries($index)" class="folded">
							<div class="md-tile-left" ng-show="$index == selectedSeries" height="150">
								<div class="thumbnail-wrapper">
									<img class="thumbnail" ng-src={{getThumbnailSeries(tvshow.thumbnail)}} height="150">
									<a href="#remote"><div class="play"><img src="img/ic_play_arrow_white_48dp.png" width="60"></div><div class="overlay"></div></a>
								</div>
							</div>

							<div class="md-tile-content" layout="column" layout-align="start">
								<h3 class="series-label">{{tvshow.label}}</h3>
								<h4>
									{{tvshow.year}} - {{Math.round(tvshow.rating * 10) / 10}} - 
									<span ng-repeat="genre in tvshow.genre">
										{{genre}}{{$last ? '' : ', '}} 
									</span>
								</h4>
								<md-divider layout-fill ng-show="$index == selectedSeries"></md-divider>
								<div layout="column" layout-fill class="expanded">
									<p class="movie-plot" ng-show="$index == selectedSeries">{{tvshow.plot}}</p>
								</div>
							</div>
						</div>
					</md-item-content>
				</md-item>
			</div>
		</md-content>
	</section>
</section>