<section ng-controller="RemoteCtrl">
	<section class="panel farLeft">
        <!-- arrow_up -->
        <a href="#arrow_up"><img class="arrow_up" src="img/ic_keyboard_arrow_up_black_48dp.png" width="70" height="70" alt="arrow_up" onClick="request('up')"/></a>

        <!-- select -->
        <a href="#select"><img class="select" src="img/ic_check_black_48dp.png" width="70" height="70" alt="select" onClick="request('select')" /></a>

        <!-- arrow_down -->
        <a href="#arrow_down"><img class="arrow_down" src="img/ic_keyboard_arrow_down_black_48dp.png" width="70" height="70" alt="arrow_down" onClick="request('down')" /></a>

        <!-- arrow_left -->
        <a href="#arrow_left"><img class="arrow_left" src="img/ic_keyboard_arrow_left_black_48dp.png" width="70" height="70" alt="arrow_left" onClick="request('left')" /></a>

        <!-- arrow_right -->
        <a href="#arrow_right"><img class="arrow_right" src="img/ic_keyboard_arrow_right_black_48dp.png" width="70" height="70" alt="arrow_right" onClick="request('right')"/></a>

        <!-- back -->
        <a href="#back"><img class="back" src="img/ic_replay_black_48dp.png" width="40" height="40" alt="home" onClick="request('back')" /></a>
        
        <!-- home -->
        <a href="#home"><img class="home" src="img/ic_home_black_48dp.png" width="40" height="40" alt="home" onClick="request('home')" /></a>

        <!-- shutdown -->
        <a href="#shutdown"><img class="shutdown" src="img/ic_settings_power_black_48dp.png" width="40" height="40" alt="shutdown" onClick="request('up')" /></a>

	</section>
</section>