<!DOCTYPE html>

<html ng-app="app">
	<head>
		<title>Komote</title>

		<meta charset="utf-8">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height"/>

        <link rel="stylesheet" type="text/css" href="stylesheets/css/style.css"/>
	</head>

	<body ng-controller="GlobalCtrl">

		<!-- Header -->
		<div class="toolbar">
			<md-toolbar>
				<h1 class="md-toolbar-tools">
					<span class="apptitle">Komote</span>
					<div class="toolbar-icons" ng-controller="AboutCtrl">

						<div class="searchBar" ng-hide="showSearch">
							<input ng-model="global.search" class="search-input" placeholder="Rechercher">
						</div>
						<span ng-show="showSearch"></span>

						<md-button class="md-primary search" ng-click="showSearch=!showSearch">
							<img class="icon-search" src="img/ic_search_white_48dp.png" width="24" /img>
						</md-button>

						<md-button class="md-primary about" ng-click="showAbout($event)">
							<img class="icon-about" src="img/ic_more_vert_white_48dp.png" width="24" /img>
						</md-button>
					</div>
				</h1>

				<md-tabs md-stretch-tabs>
					<md-tab id="remote-tab" aria-controls="remote-content">
						<a href="#remote" class="nav-remote">Télécommande</a>
					</md-tab>
					<md-tab id="movies-tab" aria-controls="movies-content">
						<a href="#movies" class="nav-movies">Films</a>
					</md-tab>
					<md-tab id="series-tab" aria-controls="series-content">
						<a href="#series" class="nav-series">Séries TV</a>
					</md-tab>
					<md-tab id="music-tab" aria-controls="music-content">
						<a href="#music" class="nav-music">Musique</a>
					</md-tab>
					<md-tab id="pics-tab" aria-controls="pics-content">
						<a href="#pics" class="nav-pics">Photos</a>
					</md-tab>
					<md-tab id="settings-tab" aria-controls="settings-content">
						<a href="#settings" class="nav-settings">Réglages</a>
					</md-tab>
				</md-tabs>
			</md-toolbar>
		</div>

		<!-- Vues (Remote, films, musique, photos, réglages) -->
		<section class="view" ng-view></section>

		<script src="js/framework/hammerjs/hammer.min.js"></script>
		<script src="js/framework/angular/angular.min.js"></script>
		<script src="js/framework/angular-route/angular-route.min.js"></script>
		<script src="js/framework/angular-aria/angular-aria.min.js"></script>
		<script src="js/framework/angular-animate/angular-animate.min.js"></script>
		<script src="js/framework/angular-resource/angular-resource.min.js"></script>
		<script src="js/framework/angular-material/angular-material.min.js"></script>
		<script src="js/framework/angular-cookies/angular-cookies.min.js"></script>
		<script src="js/framework/jquery/jquery.js"></script>

		<script src="js/app.js"></script>
		<script src="js/controllers/GlobalCtrl.js"></script>
		<script src="js/controllers/AboutCtrl.js"></script>
		<script src="js/controllers/RemoteCtrl.js"></script>
		<script src="js/controllers/MoviesCtrl.js"></script>
		<script src="js/controllers/SeriesCtrl.js"></script>
		<script src="js/controllers/MusicCtrl.js"></script>
		<script src="js/controllers/PicsCtrl.js"></script>
		<script src="js/controllers/SettingsCtrl.js"></script>
		<script src="js/factories.js"></script>

	</body>
</html>
