<ion-view view-title="Saison {{season_id}}">
    <div ng-init="showEpisodes(series_id, season_id)"></div>
    <ion-content>
        <ion-list>
            <a class="item item-icon-right" ng-repeat="episode in episodes" href="#/tab/episode-detail/{{episode.title}}/{{episode.episodeid}}">
                <h2>{{episode.episode}} &nbsp; <b>{{episode.title}}</b></h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
